/* styling for mainpage, header, footer, articlecards. */

#root {
  width: 100%;
  margin: 0;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: linear-gradient(180deg, #efcd76, #f7c443);
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #efcd76, #f7c443);
}

/* menu-buttons */
a {
  font-family: "Poppins", sans-serif;
  color: #56560b;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-family: Agbalumo;
  text-align: center;
  color: #4e4207;
  padding: 10px;
  margin: 10px auto;
}
#searchInput {
  border-radius: 5px 0px 0px 5px;
  border: none;
  font-size: 16px;
  padding: 1px 0px 3px 2px;
}
form {
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.art-btn {
  margin-bottom: 10px;
}
.Go-to-top {
  position: sticky;
  top: 0;
  background-color: #e5ece3;
  margin: 5px;
}

h2 {
  font-family: Agbalumo;
  color: #4e4207;
  margin-top: 0;
  font-weight: normal;
}
.section {
  margin: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #e5ece3;
  max-width: 450px;

  border-radius: 18px;
}
footer {
  background-color: #eef3ed;
  padding: 20px;
  text-align: center;
}
p {
  padding: 0 25px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
