/* css for the Beer history page */
#beerhistory {
  padding: 5px;
  background: linear-gradient(180deg, #efcd76, #f7c443);

  min-height: 100vh;
}

.historylist {
  font-size: larger;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.listItem {
  padding: 25px 10px;
  width: 65%;

  background-color: #e5ece3;
  /* max-width: 600px; */
  color: #4e4207;
  border-radius: 12px;
}
.loading {
  text-align: center;
  margin-top: 15px;
}
button {
  background-color: aliceblue;
  margin: 15px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(45, 47, 4);
  padding: 8px;
  border-radius: 8px;
  border: none;
}
button:hover {
  background-color: #393003;
  color: rgb(244, 244, 237);
}
