/* css for the Beer types page */
.beertypepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  background: linear-gradient(180deg, #efcd76, #f7c443);
}

.resultoutput {
  background-color: rgb(254, 255, 240);
  margin: 10px;
  padding: 15px;
  text-align: center;
  max-width: 600px;
  background-color: #785a0f;
  color: rgb(245, 242, 238);
  border-radius: 22px;
}
.beerlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding-left: 240px;
  padding-right: 240px;
}

.beerlist li:hover {
  cursor: pointer;
  color: rgb(245, 242, 239);
}

.resultoutput p {
  color: rgb(245, 242, 238);
}
.clearBtn {
  margin: 10px;
  background-color: #745509;
  color: rgb(244, 243, 242);
}
.searched-title {
  background: rgb(245, 242, 238);
}
