/* css for the Beer types page */
.beertypepage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(180deg, #efcd76, #f7c443);
}

.resultoutput {
  display: flex;
  /* flex-shrink: unset; */
  width: 300px;
  flex-direction: column;
  align-items: center;

  background-color: rgb(254, 255, 240);
  margin: 10px;
  padding: 15px;

  background-color: #785a0f;
  color: rgb(245, 242, 238);
  border-radius: 22px;
}
.beerlist {
  flex: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: 20px; */
  list-style: none;
}

.beerlist li:hover {
  cursor: pointer;
  color: rgb(245, 242, 239);
}

.resultoutput p {
  color: rgb(245, 242, 238);
}
.clearBtn {
  margin: 10px;
  background-color: #745509;
  color: rgb(244, 243, 242);
}
li.searched-title {
  flex: auto;
  background: rgb(245, 242, 238);
}
