/* css for the Beer history page */
#beerhistory {
  padding: 5px;
  background: linear-gradient(180deg, #efcd76, #f7c443);
  min-height: 100vh;
}

.historylist {
  font-size: larger;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loadMore {
  background-color: rgb(163, 103, 13);
  margin-top: 10px;
  cursor: pointer;
  color: rgb(242, 245, 242);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMore:hover {
  background-color: #c59315;
}
.listItem {
  padding: 25px 10px;
  width: 65%;

  background-color: #e5ece3;
  /* max-width: 600px; */
  color: #4e4207;
  border-radius: 12px;
}
.loading {
  padding-top: 30px;
}
